# Environnements & IDE
.vscode/
__pycache__/
*.pyc
.env

# Données
data/

# Résultats & figures
*.png

# Build
build/

# MLflow
mlruns/
mlflow.db

# Notebooks
notebooks/

# Fichiers parasites
=*

# Fichiers MLFlow
chap6mlflow.egg-info