services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api
    ports:
      - "8000:8000"
    environment:
      - ES_HOST=elasticsearch
      - INDEX_PROD=api-logs
      - INDEX_METRICS=drift-metrics
      - MLFLOW_TRACKING_URI=http://host.docker.internal:5001
    volumes:
      - ./reference_distributions:/app/reference_distributions
    depends_on:
      - elasticsearch

  gradio:
    build:
      context: .
      dockerfile: Dockerfile.gradio
    container_name: gradio
    ports:
      - "7860:7860"
    environment:
      - API_URL=http://api:8000/predict
    depends_on:
      - api

volumes:
  esdata:
